
main {
    margin: 10%;
    background-color: azure;
    border-style: dashed;
}

header {
    width: 100%;
    height: 40px;
    border-style: inset;
    position: static;
    content: initial;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #6e6b7e;
    justify-content: space-between;
    overflow:inherit;
}

img#nav-logo{
    position: relative;
    content: url("../content/logos/logo-1.png");
    width: 5rem;
    height: 5rem;    
}

ul#nav li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    padding: 14px;
    font-size: 17px;
}

.article {
    margin-block: inherit;
    background-color: aquamarine;
}

ul li a{
    text-decoration: none; 
    cursor: pointer;
    color: rgb(255, 255, 255);
    }

a {
    color: rgb(68, 68, 68);
}

article {
    margin: 1%;
}