* {
  margin: auto;
  width: 90%;
  padding: 10px;
}

body {
    size: auto;
    background-color: #9bc6ff;
}

header {
    padding: 0;
    width: auto;
    height: 100px;
    border-style: inset;
    position: sticky;
    background-color: rgb(182, 148, 148);
}

nav {
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #7e6b6b;
    justify-content: space-between;
}

img#nav-logo {
    position: relative;
    content: url("../content/logos/logo-1.png");
    width: 5rem;
    height: 5rem;
}

#banner {
    width: 100%;
    height: 100px;
    /* background-color: blue; */
    content: url("../content/banner/lan-banner.jpg");
    padding: 0;
}

#header-title {
    color: rgb(0, 17, 255);
}

#img-banner {
    /* content: url("../content/logos/logo-1.png"); */
}

main {
    background-color: rgb(228, 241, 241);
    border-style: inset;
}

ul#nav {
    display: inherit;
    margin-right: 2%;
}

ul#nav li {
    position: relative;
    list-style: none;
    display: inline-block;
    border-style: ridge;
    border-radius: 15px 15px 2px 2px;
    padding: 0.3em;
    font-size: 17px;
}

.article {
    position: inherit;
    background-color: aquamarine;
}

div.content {
    background-color: rgb(228, 241, 241);
    border-style: dashed;
    position: relative;
    width: auto;
}

article {
    justify-content: center;
    width: 50%;
    margin-top: 2%;
    border-style: solid;
    border-color: rgba(0, 0, 255, .5);
    border-radius: 10px 5px 10px 5px;
}

ul li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

a {
    padding: 0;
    margin: 0;
    color: rgb(68, 68, 68);
}

footer {
    margin: auto;
    background-color: black;
    border-style: hidden;
    border-spacing: initial;
    color: aquamarine;
    text-align: center;
}